.main{
    background-color: rgb(255, 135, 249);
    padding: 10px;
    
}

.fruits::before{
    content: ''counter(reset);
    padding: 10px;
    background-color: rgb(255, 0, 128);
    color: #ffffff;
}

.fruits{
background-color: rgb(255, 68, 246);
padding: 5px;
counter-increment: reset;
margin-bottom: 5px;
display: flex;
align-items: center;
gap: -10px;
}


.fruit
{
    color: black;
}
.Apple{
    
    background-color:rgb(255, 68, 246) ;
    padding: 10px;
}
.Orange{
    background-color:rgb(255, 68, 246) ;
    padding: 10px;
}
.Pineapple{
    background-color:rgb(255, 68, 246) ;
    padding: 10px;
}
.Pear{
    background-color:rgb(255, 68, 246) ;
    padding: 10px;
}
.Cherry{
    background-color:rgb(255, 68, 246) ;

    padding: 10px;
}

